<div>
    <label> nome sport </label>
    <div>
        <span class="flag-icon flag-icon-it"></span>
        <input type="text" ng-model="include_model.IT" placeholder="Nome sport in italiano" class="form-control" required>
    </div>
    <div>
        <span class="flag-icon flag-icon-us form-inline"></span>
        <input type="text" ng-model="include_model.EN" placeholder="Nome sport in inglese" class="form-control" required>
    </div>
    <div>
        <span class="flag-icon flag-icon-de"></span>
        <input type="text" ng-model="include_model.DE" placeholder="Nome sport in tedesco" class="form-control" required>
    </div>
</div>