<div>
    <label>{{include_model.nome.nome_campo[include_model.indirizzo.nome_campo.default]}}</label>
    <input type="text" ng-model="include_model.nome.valore" placeholder="Nome della struttura" class="form-control">
    <label>{{include_model.indirizzo.nome_campo[include_model.indirizzo.nome_campo.default]}}</label>
    <input type="text" ng-model="include_model.indirizzo.valore" placeholder="Indirizzo" class="form-control">
    <label>{{include_model.telefono.nome_campo[include_model.indirizzo.nome_campo.default]}}</label>
    <input type="text" ng-model="include_model.telefono.valore" placeholder="Numero di telefono" class="form-control">
</div>