<div class="jumbotron">
    <div class="row">
        <div ng-show="tempdata['barra_laterale'].visible" class="col-sm-4 pull-right">
            <pre>{{pretty()}}</pre>
        </div>
        <div ng-init="tempdata['barra_laterale'].visible = false; tempdata['barra_laterale'].classe = 'col-sm-12'" class="{{tempdata['barra_laterale'].classe}}">
            <form ng-model="location"  ng-submit="onSubmit()">
                <h2 class="margin-bottom-20" ng-model="tempdata" ng-click="tempdata['barra_laterale'].visible = !tempdata['barra_laterale'].visible; tempdata['barra_laterale'].classe == 'col-sm-8' ? tempdata['barra_laterale'].classe = 'col-sm-12' : tempdata['barra_laterale'].classe = 'col-sm-8';">
                    <span ng-if="!tempdata['barra_laterale'].visible" class="glyphicon glyphicon-eye-open pull-right"></span>
                    <span ng-if="tempdata['barra_laterale'].visible" class="glyphicon glyphicon-eye-close pull-right"></span>
                </h2>
                <h2 class="margin-bottom-20" ng-model="tempdata" ng-click="tempdata['dati_localita'].visible = !tempdata['dati_localita'].visible">
                    Dati della località
                    <span ng-if="!tempdata['dati_localita'].visible" class="glyphicon glyphicon-collapse-down pull-right"></span>
                    <span ng-if="tempdata['dati_localita'].visible" class="glyphicon glyphicon-collapse-up pull-right"></span>
                </h2>
                <div ng-if="tempdata['dati_localita'].visible">
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.id]" ng-include="'location.legend.view.html'"></div>
                        <input type="text" ng-model="location.id.valore" placeholder="Inserire id della località" class="form-control" required />
                    </fieldset>
                </div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.localita]" ng-include="'location.legend.view.html'"></div>
                        <input type="text" ng-model="location.localita.valore" placeholder="Inserire nome della località" class="form-control" required>
                    </fieldset>
                </div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.coordinate]" ng-include="'location.legend.view.html'"></div>
                        <label>{{location.coordinate.latitudine.nome_campo[location.coordinate.latitudine.nome_campo.default]}}</label>
                        <input type="number" step="any" ng-model="location.coordinate.latitudine.valore" placeholder="latitudine" class="form-control" required>
                        <label>{{location.coordinate.longitudine.nome_campo[location.coordinate.longitudine.nome_campo.default]}}</label>
                        <input type="number" step="any" ng-model="location.coordinate.longitudine.valore" placeholder="longitudine" class="form-control" required>
                    </fieldset>
                </div>
                <div class="clearfix"> <!-- clearfix!! --></div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.comune]" ng-include="'location.legend.view.html'"></div>
                        <input type="text" ng-model="location.comune.valore" placeholder="Inserire comune della località" class="form-control" required>
                    </fieldset>
                </div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.provincia]" ng-include="'location.legend.view.html'"></div>
                        <input type="text" ng-model="location.provincia.valore" placeholder="Inserire provincia della località" class="form-control" required>
                    </fieldset>
                </div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <!--<div ng-include="'location.legend.view.html'" ng-init="include_model = location.qualita_acque"></div>-->
                        <div ng-repeat="include_model in [location.qualita_acque]" ng-include="'location.legend.view.html'"></div>
                        <select  ng-model="location.qualita_acque.stelle.valore" ng-change="settaQualita(location.qualita_acque.stelle.valore);" class="form-control">
                            <option ng-repeat="opzione in classificationOption" ng-if="location.qualita_acque.stelle.valore == opzione.qualita_acque.stelle.valore" selected value="{{opzione.qualita_acque.stelle.valore}}"> {{opzione.qualita_acque.classificazione.valore[opzione.qualita_acque.classificazione.valore.default]}} </option> 
                            <option ng-repeat="opzione in classificationOption" ng-if="location.qualita_acque.stelle.valore != opzione.qualita_acque.stelle.valore" value="{{opzione.qualita_acque.stelle.valore}}"> {{opzione.qualita_acque.classificazione.valore[opzione.qualita_acque.classificazione.valore.default]}} </option> 
                        </select>
                    </fieldset>
                </div>
                </div>
                <div class="clearfix margin-bottom-50"> <!-- clearfix!! --></div>
                <h2 class="margin-bottom-20" ng-model="tempdata" ng-click="tempdata['barra_laterale'].visible = !tempdata['barra_laterale'].visible; tempdata['barra_laterale'].classe == 'col-sm-8' ? tempdata['barra_laterale'].classe = 'col-sm-12' : tempdata['barra_laterale'].classe = 'col-sm-8';">
                    <span ng-if="!tempdata['barra_laterale'].visible" class="glyphicon glyphicon-eye-open pull-right"></span>
                    <span ng-if="tempdata['barra_laterale'].visible" class="glyphicon glyphicon-eye-close pull-right"></span>
                </h2>                
                <h2 class="margin-bottom-20" ng-model="tempdata" ng-click="tempdata['descrizione_area'].visible = !tempdata['descrizione_area'].visible">
                    Descrizione area
                    <span ng-if="!tempdata['descrizione_area'].visible" class="glyphicon glyphicon-collapse-down pull-right"></span>
                    <span ng-if="tempdata['descrizione_area'].visible" class="glyphicon glyphicon-collapse-up pull-right"></span>
                </h2>
                <div ng-model="tempdata" ng-if="tempdata['descrizione_area'].visible">
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.descrizione_area.accesso_pubblico]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.descrizione_area.accesso_pubblico]" ng-include="'location.form-field.view.html'"></div>
                    </fieldset>
                </div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.descrizione_area.handicap]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.descrizione_area.handicap]" ng-include="'location.form-field.view.html'"></div>
                    </fieldset>
                </div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.descrizione_area.parcheggio]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.descrizione_area.parcheggio]" ng-include="'location.form-field.view.html'"></div>
                    </fieldset>
                </div>
                <div class="clearfix"> <!-- clearfix!! --></div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.descrizione_area.servizi_igienici]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.descrizione_area.servizi_igienici]" ng-include="'location.form-field.view.html'"></div>
                    </fieldset>
                </div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.descrizione_area.area_pubblica]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.descrizione_area.area_pubblica]" ng-include="'location.form-field.view.html'"></div>
                    </fieldset>
                </div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.descrizione_area.area_verde]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.descrizione_area.area_verde]" ng-include="'location.form-field.view.html'"></div>
                    </fieldset>
                </div>
                <div class="clearfix"> <!-- clearfix!! --></div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.descrizione_area.area_privata]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.descrizione_area.area_privata]" ng-include="'location.form-field.view.html'"></div>
                    </fieldset>
                </div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.descrizione_area.area_pic_nic]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.descrizione_area.area_pic_nic]" ng-include="'location.form-field.view.html'"></div>
                    </fieldset>
                </div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.descrizione_area.area_giochi]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.descrizione_area.area_giochi]" ng-include="'location.form-field.view.html'"></div>
                    </fieldset>
                </div>
                <div class="clearfix"> <!-- clearfix!! --></div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.descrizione_area.bar_ristorante]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.descrizione_area.bar_ristorante]" ng-include="'location.form-field.view.html'"></div>
                    </fieldset>
                </div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.descrizione_area.attracco_barche]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.descrizione_area.attracco_barche]" ng-include="'location.form-field.view.html'"></div>
                    </fieldset>
                </div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.descrizione_area.piste_ciclopedonali]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.descrizione_area.piste_ciclopedonali]" ng-include="'location.form-field.view.html'"></div>
                    </fieldset>
                </div>
                <div class="clearfix"> <!-- clearfix!! --></div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.descrizione_area.strutture_sportive]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.descrizione_area.strutture_sportive]" ng-include="'location.form-field.view.html'"></div>
                    </fieldset>
                </div>
                <div class="clearfix"> <!-- clearfix!! --></div>
                <div class="col-sm-12 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.descrizione_area.sport_praticabili]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in location.descrizione_area.sport_praticabili.lista" class="col-sm-4 margin-bottom-50" ng-include="'location.sport-field.view.html'">
                        </div>
                        <a ng-click="aggiungiVoceASport()">Aggiungi un altro sport... </a>
                    </fieldset>
                </div>
                </div>
                <div class="clearfix margin-bottom-50"> <!-- clearfix!! --></div>
                <h2 class="margin-bottom-20" ng-model="tempdata" ng-click="tempdata['barra_laterale'].visible = !tempdata['barra_laterale'].visible; tempdata['barra_laterale'].classe == 'col-sm-8' ? tempdata['barra_laterale'].classe = 'col-sm-12' : tempdata['barra_laterale'].classe = 'col-sm-8';">
                    <span ng-if="!tempdata['barra_laterale'].visible" class="glyphicon glyphicon-eye-open pull-right"></span>
                    <span ng-if="tempdata['barra_laterale'].visible" class="glyphicon glyphicon-eye-close pull-right"></span>
                </h2>                
                <h2 class="margin-bottom-20" ng-model="tempdata" ng-click="tempdata['informazioni_utili'].visible = !tempdata['informazioni_utili'].visible">
                    Informazioni utili
                    <span ng-if="!tempdata['informazioni_utili'].visible" class="glyphicon glyphicon-collapse-down pull-right"></span>
                    <span ng-if="tempdata['informazioni_utili'].visible" class="glyphicon glyphicon-collapse-up pull-right"></span>
                </h2>
                <div ng-model="tempdata" ng-if="tempdata['informazioni_utili'].visible">
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.informazioni_utili.guardia_medica]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.informazioni_utili.guardia_medica]" ng-include="'location.info-field-no-name.view.html'"></div>
                    </fieldset>
                </div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.informazioni_utili.pronto_soccorso]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.informazioni_utili.pronto_soccorso]" ng-include="'location.info-field-name.view.html'"></div>
                    </fieldset>
                </div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.informazioni_utili.farmacia]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.informazioni_utili.farmacia]" ng-include="'location.info-field-name.view.html'"></div>
                    </fieldset>
                </div>
                <div class="clearfix margin-bottom-50"> <!-- clearfix!! --></div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.informazioni_utili.polizia_locale]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.informazioni_utili.polizia_locale]" ng-include="'location.info-field-no-name.view.html'"></div>
                    </fieldset>
                </div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.informazioni_utili.polizia_provinciale]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.informazioni_utili.polizia_provinciale]" ng-include="'location.info-field-no-name.view.html'"></div>
                    </fieldset>
                </div>
                <div class="col-sm-4 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled">
                        <div ng-repeat="include_model in [location.informazioni_utili.carabinieri]" ng-include="'location.legend.view.html'"></div>
                        <div ng-repeat="include_model in [location.informazioni_utili.carabinieri]" ng-include="'location.info-field-no-name.view.html'"></div>
                    </fieldset>
                </div>
                </div>
                <div class="clearfix margin-bottom-50"> <!-- clearfix!! --></div>
                <h2 class="margin-bottom-20" ng-model="tempdata" ng-click="tempdata['barra_laterale'].visible = !tempdata['barra_laterale'].visible; tempdata['barra_laterale'].classe == 'col-sm-8' ? tempdata['barra_laterale'].classe = 'col-sm-12' : tempdata['barra_laterale'].classe = 'col-sm-8';">
                    <span ng-if="!tempdata['barra_laterale'].visible" class="glyphicon glyphicon-eye-open pull-right"></span>
                    <span ng-if="tempdata['barra_laterale'].visible" class="glyphicon glyphicon-eye-close pull-right"></span>
                </h2>                
                <h2 class="margin-bottom-20" ng-model="tempdata" ng-click="tempdata['sezione_immagini'].visible = !tempdata['sezione_immagini'].visible">
                    Immagini
                    <span ng-if="!tempdata['sezione_immagini'].visible" class="glyphicon glyphicon-collapse-down pull-right"></span>
                    <span ng-if="tempdata['sezione_immagini'].visible" class="glyphicon glyphicon-collapse-up pull-right"></span>
                </h2>
                <div ng-model="tempdata" ng-if="tempdata['sezione_immagini'].visible">
                <div class="col-sm-12 margin-bottom-50">
                    <fieldset ng-disabled="tempdata['form_disabled'].disabled || tempdata['sezione_immagini'].uploadInCorso">
                        <div ng-repeat="include_model in [location.immagini]" ng-include="'location.legend.view.html'"></div>
                        <div class="col-sm-4 margin-bottom-50" ng-repeat="immagine in location.immagini.lista" ng-cloak>
                            <img  ng-src="{{server.api+'/no-auth/getfile/'+immagine.filename}}" alt="{{immagine.filename}}" class="img-responsive"/>
                        </div>
                        <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" class="form-control"/>
                        <img ng-if="tempdata['sezione_immagini'].uploadInCorso" src="img/waiting.gif" />
                    </fieldset>
                </div>
                </div>
                <div class="clearfix margin-bottom-50"> <!-- clearfix!! --></div>
                <button type="submit" class="btn btn-primary" ng-show="!tempdata['form_disabled'].disabled">Salva</button>
                <button type="button" class="btn btn-primary" ng-show="tempdata['form_disabled'].disabled" ng-click="tempdata['form_disabled'].disabled = false">Abilita modifica</button>
            </form>
        </div>
    </div>
</div>